<?xml version="1.0" encoding="UTF-8"?>
<server description="dormitories">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>microProfile-4.1</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9081" />
    <variable name="https.port" defaultValue="9444" />
    <variable name="context.root" defaultValue="/dormitories" />
    <variable name="postgres/hostname" defaultValue="localhost" />
    <variable name="postgres/portnum" defaultValue="5435" />

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${http.port}"
                  httpsPort="${https.port}" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="${context.root}"
                    location="dormitories.war" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}/" includes="*.jar" />
    </library>

    <!-- Datasource Configuration -->
    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library" />
        <properties.postgresql databaseName="dormitories"
                               serverName="localhost"
                               portNumber="5435"
                               user="postgres"
                               password="1234"/>
    </dataSource>
</server>